---
import Layout from "../layouts/Layout.astro";
---

<Layout 
    title="Pagina No Encontrada"
>
    <div class="text-center mb-10 md:mb-20">
        <video src="../src/assets/pagina-no-encontrada.mp4" width="40%" autoplay loop class="m-auto"/>
        <p class="p-2 mt-5 mb-10 md:text-2xl">
            Lo sentimos, no pudimos encontrar la página que estás buscando.
        </p>
        <a href="/" class="bg-sky-500 m-0 py-4 px-16 text-white text-xl hover:bg-white hover:text-black hover:border-2 hover:border-black">
            Regresar
        </a>
    </div>
</Layout>