---
import Flotante from "../components/Flotante.astro";
import RedSocial from "../components/RedSocial.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Mustang Electrico"
>
    <div class="mt-2">
        <div class="relative">
            <img src="../../public/img/mustang-electrico.webp" alt="">
        </div>
        <div class="absolute right-3 top-[13rem] sm:top-[12rem] md:top-[24rem] md:right-4 xl:top-[42rem] xl:right-10 2xl:top-[53rem] text-white">
            <h1 class="text-right text-xl md:text-4xl xl:text-5xl">
                Bienvenidos al Futuro
            </h1>
            <h2 class="text-center text-xl md:text-3xl xl:text-4xl">
                Nuevo Ford Mustang Mach-E
            </h2>
        </div>
    </div>

    <div class="lg:grid lg:grid-cols-2 2xl:grid-cols-3 2xl:mt-10">
        <div class="max-w-xl p-3 2xl:p-5">
            <div class="m-auto text-center 2xl:text-4xl">
                <h2 class="text-2xl 2xl:text-4xl">
                    Diseño
                </h2>
                <p class="text-lg my-4 xl:text-xl">
                    El diseño del nuevo Ford Mustang Mach-E eléctrico es una emocionante fusión de la icónica herencia del Mustang con la vanguardia de la tecnología eléctrica. Este automóvil deportivo de próxima generación ha sido meticulosamente diseñado para ofrecer altas prestaciones y una experiencia de conducción emocionante y respetuosa con el medio ambiente.
                </p>
            </div>
            <div>
                <img src="../../public/img/mustang-electrico-3.webp" class="rounded-md sombra" alt="">
            </div>
        </div>
        <div class="max-w-xl p-3 2xl:p-5">
            <div class="m-auto text-center 2xl:text-4xl">
                <h2 class="text-2xl 2xl:text-4xl">
                    Interior
                </h2>
                <p class="text-lg my-4 xl:text-xl">
                    El interior es una mezcla de lujo y tecnología. El Mustang eléctrico está equipado con asientos deportivos ergonómicos y una consola central minimalista que incorpora una gran pantalla táctil de alta resolución que controla todas las funciones del vehículo. Los materiales de alta calidad, como el cuero y el aluminio cepillado, aportan un toque de sofisticación..
                </p>
            </div>
            <div>
                <img src="../../public/img/mustang-electrico-5.webp" class="rounded-md sombra" alt="">
            </div>
        </div>
        <div class="max-w-xl p-3 2xl:p-5">
            <div class="m-auto text-center 2xl:text-4xl">
                <h2 class="text-2xl 2xl:text-4xl">
                    Rendimiento
                </h2>
                <p class="text-lg my-4 xl:text-xl">
                    En cuanto al rendimiento, el Mustang eléctrico es un auténtico atleta. Con un motor eléctrico de alto rendimiento y una batería de última generación, puede acelerar de 0 a 100 km/h en cuestión de segundos, ofreciendo una conducción emocionante y sin emisiones. Además, su bajo centro de gravedad y su suspensión deportiva garantizan una agilidad excepcional en las curvas.
                </p>
            </div>
            <div>
                <img src="../../public/img/mustang-electrico-4.webp" class="rounded-md sombra" alt="">
            </div>
        </div>
        <div class="max-w-xl p-3 2xl:p-5">
            <div class="m-auto text-center 2xl:text-4xl">
                <h2 class="text-2xl 2xl:text-4xl">
                    Ruedas
                </h2>
                <p class="text-lg my-4 xl:text-xl">
                    Las ruedas de aleación de alto rendimiento y los neumáticos de bajo perfil contribuyen a la estabilidad y la tracción, mientras que la característica toma de aire en el lateral del vehículo proporciona un toque de estilo único. La parte trasera del Mustang eléctrico presenta una intrigante combinación de luces traseras LED que se extienden desde un extremo al otro.
                </p>
            </div>
            <div>
                <img src="../../public/img/mustang-electrico-6.webp" class="rounded-md sombra" alt="">
            </div>
        </div>
        <div class="max-w-xl p-3 2xl:p-5">
            <div class="m-auto text-center 2xl:text-4xl">
                <h2 class="text-2xl 2xl:text-4xl">
                    Frente
                </h2>
                <p class="text-lg my-4 xl:text-xl">
                    Desde el frente, el nuevo Mustang eléctrico conserva su mirada feroz y musculosa con una parrilla reinterpretada y faros delanteros LED que le confieren una apariencia moderna y agresiva. La silueta elegante y aerodinámica se combina con líneas fluidas que fluyen desde el capó hasta la parte trasera, resaltando su potencia y velocidad en los Mustang.
                </p>
            </div>
            <div>
                <img src="../../public/img/mustang-electrico-7.webp" class="rounded-md sombra" alt="">
            </div>
        </div>
    </div>
    <div>
        <p class="px-5 mt-5 mb-10 text-lg  xl:text-xl ">
            En resumen, el diseño del nuevo Ford Mustang eléctrico representa una evolución emocionante de un clásico del automovilismo. Combina la estética atemporal del Mustang con la eficiencia y la potencia de la tecnología eléctrica, ofreciendo una experiencia de conducción moderna y emocionante para los amantes de los automóviles y el medio ambiente por igual. Este Mustang eléctrico es un testimonio de la innovación y la visión de Ford hacia el futuro de la movilidad sostenible.
        </p>
    </div>

    <RedSocial />

    <Flotante />

</Layout>