---
import Flotante from "../components/Flotante.astro";
import RedSocial from "../components/RedSocial.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Plan Ovalo">
    <div class="mt-4 relative">
        <img src="../../public/maverick-ovalo.webp" alt="" />
        <div
            class="absolute text-xl text-white bg-sky-600 py-1 px-5 left-2 bottom-12 rounded-3xl sombra hover:bg-sky-500 hover:cursor-pointer max-sm:text-base max-sm:bottom-5 max-sm:left-1 md:bottom-20 md:left-3 md:px-12 lg:bottom-32 lg:left-4 lg:px-20 xl:bottom-48 2xl:bottom-64 2xl:left-9"
        >
            <a href="#"> Suscribite</a>
        </div>
    </div>
    <div class="mt-10 text-blue-900 xl:my-20">
        <h2 class="text-center font-semibold text-3xl md:text-4xl xl:text-5xl">
            Planes Vigentes
        </h2>
    </div>
    <div class="text-blue-900 mt-5 mb-10 lg:grid lg:grid-cols-2 lg:px-10 xl:grid-cols-3 xl:px-10">
        <div class="p-3">
            <img src="../../public/bronco-ovalo.webp" alt="" />
            <div class="px-2">
                <h2 class="text-3xl font-semibold my-4">Bronco Sport</h2>
                <p class="text-xl my-3">Cuota desde</p>
                <p class="text-2xl font-semibold my-3">$200.000</p>
                <p class="text-xl my-3">Plan 80/20 de 84 meses</p>
                <div
                    class="text-xl mt-6 mb-5 text-white bg-sky-600 text-center py-1 px-5 rounded-3xl sombra hover:bg-sky-500 hover:cursor-pointer md:w-1/4 lg:w-1/2"
                >
                    <a href="#"> Conoce mas</a>
                </div>
            </div>
        </div>

        <div class="p-3">
            <img src="../../public/f100-raptor-ovalo.webp" alt="" />
            <div class="px-2">
                <h2 class="text-3xl font-semibold my-4">F100 Raptor</h2>
                <p class="text-xl my-3">Cuota desde</p>
                <p class="text-2xl font-semibold my-3">$250.000</p>
                <p class="text-xl my-3">Plan 80/20 de 84 meses</p>
                <div
                    class="text-xl mt-6 mb-5 text-white bg-sky-600 text-center py-1 px-5 rounded-3xl sombra hover:bg-sky-500 hover:cursor-pointer md:w-1/4 lg:w-1/2"
                >
                    <a href="#"> Conoce mas</a>
                </div>
            </div>
        </div>

        <div class="p-3">
            <img src="../../public/kuga-ovalo.webp" alt="" />
            <div class="px-2">
                <h2 class="text-3xl font-semibold my-4">Kuga Hibrida</h2>
                <p class="text-xl my-3">Cuota desde</p>
                <p class="text-2xl font-semibold my-3">$280.000</p>
                <p class="text-xl my-3">Plan 80/20 de 84 meses</p>
                <div
                    class="text-xl mt-6 text-white bg-sky-600 text-center py-1 px-5 rounded-3xl sombra hover:bg-sky-500 hover:cursor-pointer md:w-1/4 lg:w-1/2"
                >
                    <a href="#"> Conoce mas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="p-3 text-blue-900 xl:px-28">
        <div class="md:mb-5 xl:mb-10">
            <h2 class="text-3xl mb-5 md:text-4xl xl:text-5xl xl:text-center">
                Conoce todo lo que necesitas saber del Plan Ovalo
            </h2>
        </div>
        <div class="md:mx-10 lg:mx-10">
            <div class="md:mb-5 xl:mb-10">
                <h3 class="text-2xl mb-3 font-semibold">¿Que es el Plan Ovalo?</h3>
                <p class="text-xl px-2 md:text-2xl">
                    Plan Ovalo, es una herramienta financiera pensada para
                    facilitar la compra de tu Ford 0km, que no trabaja con una
                    tasa de interés, sino que ajusta el valor de sus cuotas y de
                    la deuda en relación al precio actual del modelo suscripto
                </p>
            </div>
            <div class="md:mb-5 xl:mb-10">
                <h3 class="text-2xl my-3 font-semibold">Ingresar al Plan Ovalo</h3>
                <p class="text-xl px-2 md:text-2xl">
                    Para ingresar a Plan Ovalo, no necesitás ahorros previos y
                    podés ajustar los plazos de financiación adelantando cuotas.
                    También tenés la posibilidad de cancelar el plan sin pagar
                    gastos administrativos ni recargos.
                </p>
            </div>
            <div class="md:mb-5 xl:mb-10">
                <h3 class="text-2xl my-3 font-semibold">Benefio de los Planes</h3>
                <p class="text-xl px-2 md:text-2xl">
                    Plan Ovalo te beneficia dependiendo el tipo de plan,
                    ofreciéndote distintas bonificaciones que pueden incluir
                    Bonificaciones REALES en las cuotas, incentivos para el
                    retiro de tu vehículo y /o descuentos en la cobertura del
                    seguro de tu unidad.
                </p>
            </div>
            <div class="md:mb-5 xl:mb-10">
                <h3 class="text-2xl my-3 font-semibold">Como elegir tu Ford</h3>
                <p class="text-xl px-2 md:text-2xl">
                    Plan Ovalo te permite al momento de pedir tu Ford elegir el
                    vehículo y la versión que quieras, dependiendo de la
                    disponibilidad de unidades, sin importar cual era tu modelo
                    plan.
                </p>
            </div>
            <div class="md:mb-5 xl:mb-10">
                <h3 class="text-2xl my-3 font-semibold">Requisitos</h3>
                <p class="text-xl px-2 md:text-2xl">
                    Plan Ovalo, realiza el análisis crediticio al momento de
                    resultar adjudicado y previo a pedir tu Ford 0km, según el
                    porcentaje que lleves pagado de tu plan, podemos o no
                    requerir que nos presentes tus ingresos
                </p>
            </div>
            <div class="md:mb-5 xl:mb-10">
                <h3 class="text-2xl my-3 font-semibold">APP Plan Ovalo</h3>
                <p class="text-xl px-2 md:text-2xl">
                    Plan Ovalo te ofrece una aplicacion para autogestionar tu
                    plan desde la comodidad de tu hogar: suscribirte a nuestro
                    bletin de noticias, recibir el cupón de pago en tu
                    aplicacion, pagar online tus cuotas, licitar, mirar el acto
                    de adjudicación en vivo a través de la aplicacion, conocer
                    tu estado de cuenta, descargar la póliza de seguro,
                    contactarnos por chat y hablar con FORDi!
                </p>
            </div>
        </div>
    </div>
    <div class="text-blue-900">
        <div class="my-10 text-center text-3xl font-semibold md:text-4xl xl:text-5xl">
            <h2>Elige el metodo para obtener tu Ford</h2>
        </div>

        <div class="lg:grid lg:grid-cols-2 xl:px-20">
            <div class="mb-10">
                <div class="p-3">
                    <img
                        src="../../public/asesor.webp"
                        class="rounded md:w-full"
                        alt=""
                    />
                </div>
                <div class="px-2">
                    <div class="p-2">
                        <h3 class="text-xl font-semibold">
                            Contactate con un asesor de ventas
                        </h3>
                        <p class="text-lg my-2">Dejanos tus datos</p>
                    </div>
                    <div
                        class="text-xl mx-2 mt-3 text-white bg-sky-600 text-center py-1 px-5 left-2 bottom-12 rounded-3xl sombra hover:bg-sky-500 hover:cursor-pointer md:w-1/4"
                    >
                        <a href="#"> Completar</a>
                    </div>
                </div>
            </div>
    
            <div class="mb-10">
                <div class="p-3">
                    <img
                        src="../../public/online.webp"
                        class="rounded md:w-full"
                        alt=""
                    />
                </div>
                    <div class="px-2">
                        <div class="p-2">
                            <h3 class="text-xl font-semibold">Suscribite Online</h3>
                            <p class="text-lg my-2">Elegi tu Ford en linea</p>
                        </div>
                        <div
                            class="text-xl mx-2 mt-3 text-white bg-sky-600 text-center py-1 px-5 left-2 bottom-12 rounded-3xl sombra hover:bg-sky-500 hover:cursor-pointer md:w-1/4"
                        >
                            <a href="#"> Empezar</a>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>

    <RedSocial />

    <Flotante />

</Layout>
