---
import Flotante from "../components/Flotante.astro";
import RedSocial from "../components/RedSocial.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Service Posventa">
    <div class="text-blue-900">
        <div class="my-5">
            <img
                src="../../public/img/banner-service.webp"
                class="m-auto"
                alt=""
            />
        </div>
        <div class="2xl:w-1/2 2xl:m-auto 2xl:mt-10">
            <h1 class="text-center text-3xl lg:text-4xl lg:mb-5">
                Servicio de Mantenimiento
            </h1>
            <p class="text-center text-xl p-3 lg:text-3xl">
                El mantenimiento periódico de tu vehículo permite conservar sus
                condiciones óptimas de funcionamiento y seguridad, así como
                también prolongar su vida útil.
                En nuestros concesionarios oficiales Ford, tenemos los precios más convenientes para vos.
            </p>
            <h3 class="text-center text-2xl p-3">
                Conocé los precios sugeridos eligiendo tu modelo antes de visitar tu Concesionario Ford.
            </h3>
        </div>
    </div>

    <div class="lg:px-20">
        <div >
            <h2 class="text-center font-semibold text-2xl mt-10 lg:text-left 2xl:text-4xl">
                Autos
            </h2>
            <img src="../../public/img/logo.png" width={100} class="m-auto lg:m-0" alt="">
            <div class="grid grid-cols-2 lg:grid-cols-6 2xl:bg-slate-100">
                <div>
                    <img src="../../public/img/ka-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">KA</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 51.000</h5>
                    </div>
                </div>
                <div>
                    <img src="../../public/img/fiesta-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">FIESTA</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 59.000</h5>
                    </div>
                </div>
                <div>
                    <img src="../../public/img/focus-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">FOCUS</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 70.000</h5>
                    </div>
                </div>
                <div>
                    <img src="../../public/img/mondeo-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">MONDEO</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 88.000</h5>
                    </div>
                </div>
                <div>
                    <img src="../../public/img/smax-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">S-MAX</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 85.000</h5>
                    </div>
                </div>
                <div>
                    <img src="../../public/img/mustang-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">MUSTANG</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 106.000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="2xl:mt-20">
            <h2 class="text-center font-semibold text-2xl mt-10 lg:text-left 2xl:text-4xl">
                Suvs
            </h2>
            <img src="../../public/img/logo.png" width={100} class="m-auto lg:m-0" alt="">
            <div class="grid grid-cols-2 lg:grid-cols-6 2xl:bg-slate-100">
                <div>
                    <img src="../../public/img/eco-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">ECOSPORT</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 71.000</h5>
                    </div>
                </div>
                <div>
                    <img src="../../public/img/kuga-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">KUGA</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 87.000</h5>
                    </div>
                </div>
                <div>
                    <img src="../../public/img/territory-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">TERRITORY</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 93.000</h5>
                    </div>
                </div>
                <div>
                    <img src="../../public/img/bronco-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">BRONCO SPORT</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 79.000</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="2xl:mt-20">
            <h2 class="text-center font-semibold text-2xl mt-10 lg:text-left 2xl:text-4xl">
                Pick-Ups
            </h2>
            <img src="../../public/img/logo.png" width={100} class="m-auto lg:m-0" alt="">
            <div class="grid grid-cols-2 lg:grid-cols-6 2xl:bg-slate-100">
                <div>
                    <img src="../../public/img/ranger-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">NUEVA RANGER</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 88.000</h5>
                    </div>
                </div>
                <div>
                    <img src="../../public/img/ranger-2023-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">RANGER (Hasta 2023)</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 90.000</h5>
                    </div>
                </div>
                <div>
                    <img src="../../public/img/f150-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">F-150</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 99.000</h5>
                    </div>
                </div>
                <div>
                    <img src="../../public/img/f150-raptor-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">F-150 RAPTOR</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 92.000</h5>
                    </div>
                </div>
                <div>
                    <img src="../../public/img/maverick-service.png" class="m-auto" alt="">
                    <h3 class="text-center font-bold">MAVERICK</h3>
                    <div class="text-center">
                        <h4>Precio de Lista</h4>
                        <h5 class="font-semibold">$ 75.000</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="lg:mt-20 lg:px-20">
    <div class="color-ford py-4 mb-1">
        <h2 class="text-white text-xl mx-1 2xl:text-2xl">
            Servicio de mantenimiento con 15 mil km ó 1 año
        </h2>
    </div>
    <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-blue-900 text-white" data-inactive-classes="text-blue-900">

        <h2 id="accordion-flush-heading-2">
          <button type="button" class="flex items-center justify-between px-2 w-full py-5 font-medium text-left text-blue-900 border-b border-gray-200 2xl:p-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
            <span class="lg:text-xl">Entrada del vehículo al taller</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-2" class="hidden text-blue-900" aria-labelledby="accordion-flush-heading-2">
            <div class="grid grid-cols-2 border-b p-4 gap-2">
                <div class="mt-3 border-gray-200">
                  <p class="mb-2 font-bold">Cuadro de instrumentos, faros, luces de emergencia, intermitentes y bocina.</p>
                  <p>Comprobar funcionamiento.</p>
                </div>
                <div class="mt-3 border-gray-200">
                  <p class="mb-2 font-bold">Lava / limpiaparabrisas y luneta.</p>
                  <p>Comprobar funcionamiento / ajustar, si fuera necesario.</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Embrague y freno.</p>
                    <p>Comprobar funcionamiento.</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Escobillas limpiaparabrisas / limpialuneta.</p>
                    <p>Verificar / sustituir, si fuera necesario.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Equipo de aire acondicionado y calefacción.</p>
                    <p>Comprobar funcionamiento.</p>
                </div>
            </div>
        </div>

        <h2 id="accordion-flush-heading-3">
          <button type="button" class="flex items-center justify-between px-2 w-full py-5 font-medium text-left text-blue-900 border-b border-gray-200 2xl:p-3" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
            <span class="lg:text-xl">Interior del vehículo</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-3" class="hidden text-blue-900" aria-labelledby="accordion-flush-heading-3">
            <div class="grid grid-cols-2 border-b p-4 gap-2">
                <div class="mt-3 border-gray-200">
                  <p class="mb-2 font-bold">Luces interiores, testigos, iluminación del cuadro de instrumentos, cinturones de seguridad, tablero de instrumentos.</p>
                  <p>Comprobar funcionamiento / estado.</p>
                </div>
                <div class="mt-3 border-gray-200">
                  <p class="mb-2 font-bold">Equipo de diagnóstico.</p>
                  <p>Colocar para verificar correcto funcionamiento.</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Luz del compartimento de baúl.</p>
                    <p>Comprobar funcionamiento si corresponde.</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Aviso de mantenimiento programado.</p>
                    <p>Desactivar aviso de mantenimiento programado.</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Airbag.</p>
                    <p>Sustituir Cada 15 años.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Filtro de polen.</p>
                    <p>Sustituir (con mas frecuencia en ambientes polvorientos)</p>
                </div>
            </div>
        </div>

        <h2 id="accordion-flush-heading-4">
            <button type="button" class="flex items-center justify-between px-2 w-full py-5 font-medium text-left text-blue-900 border-b border-gray-200 2xl:p-3" data-accordion-target="#accordion-flush-body-4" aria-expanded="false" aria-controls="accordion-flush-body-4">
              <span class="lg:text-xl">Exterior del vehículo</span>
              <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
              </svg>
            </button>
          </h2>
          <div id="accordion-flush-body-4" class="hidden text-blue-900" aria-labelledby="accordion-flush-heading-4">
            <div class="grid grid-cols-2 border-b p-4 gap-2">
                <div class="mt-3 border-gray-200">
                  <p class="mb-2 font-bold">Luces exteriores, luces de emergencia, indicadores de giro, bocina.</p>
                  <p>Comprobar funcionamiento / alineación.</p>
                </div>
                <div class="mt-3 border-gray-200">
                  <p class="mb-2 font-bold">Neumáticos.</p>
                  <p>Ajustar presión, según especificación.</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Cerraduras / Pestillo de seguridad del capó, bisagras, retenedor de puerta.</p>
                    <p>Comprobar funcionamiento / engrasar.</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Tuercas de rueda.</p>
                    <p>Verificar apriete, según especificación.</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Carrocería.</p>
                    <p>Examinar el estado general de la chapa y la pintura. Identificar posibles picaduras, grietas, óxidos, abolladuras u otros daños.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Rueda de auxilio.</p>
                    <p>Ajustar presión, comprobar desgaste y estado.</p>
                </div>
            </div>
          </div>

          <h2 id="accordion-flush-heading-5">
            <button type="button" class="flex items-center justify-between px-2 w-full py-5 font-medium text-left text-blue-900 border-b border-gray-200 2xl:p-3" data-accordion-target="#accordion-flush-body-5" aria-expanded="false" aria-controls="accordion-flush-body-5">
              <span class="lg:text-xl">Bajo el capó</span>
              <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
              </svg>
            </button>
          </h2>
          <div id="accordion-flush-body-5" class="hidden text-blue-900" aria-labelledby="accordion-flush-heading-5">
            <div class="grid grid-cols-2 border-b p-4 gap-2">
                <div class="mt-3 border-gray-200">
                  <p class="mb-2 font-bold">Cableados, tuberías, tubos flexibles, circuitos de aceite, combustible y refrigeración.</p>
                  <p>Comprobar el tendido, si hay daños, roces, fugas (donde sea visible).</p>
                </div>
                <div class="mt-3 border-gray-200">
                  <p class="mb-2 font-bold">Líquido de dirección hidráulica.</p>
                  <p>No posee. Dispone de Direccion asistida en forma electrónica (EPAS)</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Motor, calefactor y radiador.</p>
                    <p>Comprobar daños y fugas (donde sea visible).</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Líquido de sistema lavaparabrisas.</p>
                    <p>Comprobar / reponer nivel del líquido, si fuera necesario.</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Paneles radiadores.</p>
                    <p>Verificar estado / limpiar sist. enfriamiento, aire acondicionado, dirección de potencia.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Correas auxiliares (Poli V).</p>
                    <p>Comprobar estado / ajustar, si fuera necesario.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Bornes de batería-</p>
                    <p>Limpiar si fuera necesario.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Correas auxiliares (Poli V).</p>
                    <p>Sustituir (todos los motores), cada 5 años ó 90.000 Km.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Líquido de freno / embrague.</p>
                    <p>Comprobar / reponer nivel del líquido, si fuera necesario.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Correa de distribución, motor Nafta/Gasolina 1.5L Dragon.</p>
                    <p>Sustituir cada 10 años ó 150.000 Km.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Líquido de freno / embrague. </p>
                    <p>Sustituir cada 2 años ó 45.000 Km.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Líquido de enfriamiento.</p>
                    <p>Revisar / reponer nivel del líquido, si fuera necesario. Sustituir cada 6 años o 105.000 km (líquido de enfriamiento naranja/rosa).</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Equipo de aire acondicionado y calefacción.</p>
                    <p>Comprobar funcionamiento y posibles pérdidas.</p>
                </div>
            </div>
          </div>

          <h2 id="accordion-flush-heading-6">
            <button type="button" class="flex items-center justify-between px-2 w-full py-5 font-medium text-left text-blue-900 border-b border-gray-200 2xl:p-3" data-accordion-target="#accordion-flush-body-6" aria-expanded="false" aria-controls="accordion-flush-body-6">
              <span class="lg:text-xl">Bajo el vehículo</span>
              <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
              </svg>
            </button>
          </h2>
          <div id="accordion-flush-body-6" class="hidden text-blue-900" aria-labelledby="accordion-flush-heading-6">
            <div class="grid grid-cols-2 border-b p-4 gap-2">
                <div class="mt-3 border-gray-200">
                  <p class="mb-2 font-bold">Aceite de motor y filtro. Nafta/Gasolina.</p>
                  <p>Sustituir aceite y filtro.</p>
                </div>
                <div class="mt-3 border-gray-200">
                  <p class="mb-2 font-bold">Neumáticos.</p>
                  <p>Verificar desgaste / efectuar rotación.</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Aceite de motor y filtro.</p>
                    <p>Sustituir aceite y filtro cada 15.000 km ó un año, ó al activarse el alerta de reemplazo de aceite (lo que ocurra primero).</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Dirección, articulaciones de suspensión, semiejes, juntas homocinéticas, fuelles, crucetas, árbol de transmisión, articulaciones de dirección, amortiguadores.</p>
                    <p>Comprobar daños, desgaste, pérdidas y/o deterioro de gomas.</p>
                </div>
                <div class="mt-3 border-gray-200">
                    <p class="mb-2 font-bold">Motor, caja de velocidades, caja de transferencia y diferencial trasero.</p>
                    <p>Comprobar daños / fugas / pérdidas.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Bajos del vehículo.</p>
                    <p>Comprobar estado de revestimientos de PVC y aislaciones.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Fluido de caja de velocidades. Manual/ Secuencial.</p>
                    <p>Verificar nivel / reponer, si fuera necesario.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Tuberías, tubos flexibles, tuberías de alimentación de aceite y combustible, escape.</p>
                    <p>Comprobar tendido, daños, roces, fugas (donde sea visible).</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Sistema de escape.</p>
                    <p>Verificar daños, roces, fugas. Inspeccionar los protectores de calor. Remover materiales adheridos.</p>
                </div>
                <div class="py-3 border-gray-200">
                    <p class="mb-2 font-bold">Frenos delanteros.</p>
                    <p>Con ruedas desmontadas, comprobar desgaste de pastillas de freno, discos, y deterioro de conductos y componentes de goma.</p>
                </div>
            </div>
          </div>
      </div>
    </div>
    
    <div class="text-blue-900 mt-10 mb-5 lg:px-10 lg:mt-10 2xl:mt-20">
        <h2 class="text-center text-2xl font-semibold my-5 md:text-3xl lg:text-4xl 2xl:text-5xl">
            FordPass
        </h2>
        <div class="p-4 lg:grid lg:grid-cols-2 lg:gap-5 lg:px-5">
            <div>
                <img src=".../../public/img/fordpass.webp" class="rounded-lg sombra" alt="">
            </div>
            <div class="p-4 lg:m-auto">
                <h2 class="text-xl border-b py-6 md:text-2xl lg:text-3xl lg:text-center">
                    Conoce como usar FordPass y enterate de todos los benefcios que tiene la aplicacion para tu Ford.
                </h2>
                <div class="my-10 text-center">
                    <a href="/pass" class="text-xl text-white bg-sky-600 hover:bg-sky-500 rounded-3xl py-1 px-5 sombra"
                        >Ir a FordPass</a
                    >
                </div>
            </div>
        </div>
    </div>
  

    <RedSocial />

    <Flotante />

</Layout>
