---
import { Image } from 'astro:assets';

export interface Props {
    titulo: string;
    descripcion: string;
    imagen: string;
    id: string
}
const { titulo, descripcion, imagen, id } = Astro.props
---



<div class="color-ford mx-2 my-4 border-gray-200 rounded-lg dark:border-gray-600">

        <img class="rounded-t-lg w-full" src={imagen} alt="" />

    <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{titulo}</h5>
        <p class="mb-3 font-normal text-white">{descripcion}</p>
        <div class="mt-5">
            <a href="/modelos" class="uppercase rounded bg-sky-600 hover:bg-sky-500 text-white py-2 px-7">
                Ver Modelos
            </a>
        </div>
    </div>
</div>

