<div>
    <a href="" class="whatsapp">
        <img src="../src/assets/fordi.png" alt="">
    </a>
</div>

<style>
    .whatsapp {
        position:fixed;
        bottom:40px;
        right: 1px;
        z-index:100;
        width: 6rem;
}

    .whatsapp-icon {
  margin-top:13px;
}
</style>