<div>
    <a href="" class="fordi">
        <img src="/fordi.png" alt="">
    </a>
</div>

<style>
    .fordi {
        position:fixed;
        bottom:40px;
        right: 1px;
        z-index:100;
        width: 4rem;
}

    @media (min-width: 768px) {
        .fordi {
            width: 6rem;
        }
    }
</style>